<footer class="text-center text-white" style="background-color: #f1f1f1">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Social media -->
    <section>
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        data-mdb-ripple-color="dark"
        href="https://www.facebook.com"
        role="button"
        target="_blank"
      >
        <fa-icon [icon]="faFacebookF" style="color: #343434"></fa-icon>
      </a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        data-mdb-ripple-color="dark"
        href="https://www.twitter.com"
        role="button"
        target="_blank"
      >
        <fa-icon [icon]="faTwitter" style="color: #343434"></fa-icon>
      </a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        data-mdb-ripple-color="dark"
        href="https://wwww.instagram.com"
        role="button"
        target="_blank"
      >
        <fa-icon [icon]="faInstagram" style="color: #343434"></fa-icon>
      </a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        data-mdb-ripple-color="dark"
        href="https://www.linkedin.com/in/gianlucalucchesi/"
        role="button"
        target="_blank"
      >
        <fa-icon [icon]="faLinkedin" style="color: #343434"></fa-icon>
      </a>

      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        data-mdb-ripple-color="dark"
        href="https://github.com/gianlucalucchesi"
        role="button"
        target="_blank"
      >
        <fa-icon [icon]="faGithub" style="color: #343434"></fa-icon>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
    class="text-center text-dark"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    <a class="text-dark" href="http://localhost:4200">Clean Rentals</a> © {{ year }}
  </div>
  <!-- Copyright -->
</footer>
