<div *ngIf="reservations.length === 0" class="alert alert-info" role="alert">
  Empty shopping cart
</div>

<div *ngIf="reservations.length > 0">
  <div class="row">
    <div class="col-xl-9">
      <app-shopping-cart-item
        *ngFor="let reservation of reservations"
        [reservation]="reservation"
        [currency]="currency"
      ></app-shopping-cart-item>
    </div>
    <div class="col-xl-3">
      <app-shopping-cart-recap [currency]="currency"></app-shopping-cart-recap>
    </div>
  </div>
</div>
