<div *ngIf="(reservations.length === 0) && !checkoutSuccess" class="alert alert-info" role="alert">
  Empty shopping cart
</div>

<div *ngIf="checkoutSuccess" class="alert alert-success" role="alert">
  Checkout successful. Thank you!
</div>

<div *ngIf="reservations.length > 0 && !checkoutSuccess">
  <div class="row">
    <div class="col-xl-9">
      <app-shopping-cart-item
        *ngFor="let reservation of reservations"
        [reservation]="reservation"
        [currency]="currency"
      ></app-shopping-cart-item>
    </div>
    <div class="col-xl-3">
      <app-shopping-cart-recap [currency]="currency"></app-shopping-cart-recap>
    </div>
  </div>
</div>
