<div class="container mt-5" style="padding-bottom: 100px;">
  <h1>Reservations</h1>
  <p class="lead">See all your reservations below.</p>

  <div *ngIf="error === 'Not Found'" class="alert alert-info" role="alert">
    You do not have any reservations yet.
  </div>

  <div *ngIf="reservations" class="reservations-list">
    <div *ngFor="let reservation of reservations; let i = index">
      <app-reservation-element [reservation]="reservation"></app-reservation-element>
    </div>
  </div>
</div>
