<div *ngIf="!reservation; else loaded" class="container">
  <app-loading></app-loading>
</div>

<ng-template #loaded>
  <div class="container mt-5" style="padding-bottom: 100px">
    <ng-container>
      <div class="col" style="text-align: center">
        <img
          height="230"
          src="{{ '../../../../' + reservation.car.image_url }}"
          width="450"
        />
      </div>
      <hr />
      <form>
        <h3>Reservation information</h3>
        <div class="form-group">
          <label><b>Reference:</b></label>
          {{ reservation.id }}
        </div>
        <div class="form-group">
          <label><b>Pickup time and date:</b></label>
          {{ reservation.dateTimeStart | date: "dd MMMM y" }} at
          {{ reservation.dateTimeStart | date: "HH:mm" | replace: ":":"h" }}
        </div>
        <div *ngIf="reservation.dateTimeStop" class="form-group">
          <label><b>Return time and date:</b></label>
          {{ reservation.dateTimeStop | date: "dd MMMM y" }} at
          {{ reservation.dateTimeStop | date: "HH:mm" | replace: ":":"h" }}
        </div>
        <h5>Options</h5>
        <ul>
          <li *ngFor="let option of reservation.reservationOptions">
            {{ option.name }}
          </li>
        </ul>
        <div class="form-group">
          <label><b>Total paid:</b></label>
          {{
            currency === "EUR"
              ? (reservation.total_price_euro_excl_vat * 1.21
                | currency: "EUR":"symbol")
              : (getUsdPrice() * 1.21 | currency)
          }}
          Incl. VAT
        </div>

        <h3>Client information</h3>
        <div class="form-group">
          <label><b>Name:</b></label>
          {{ reservation.client.firstName }} {{ reservation.client.lastName }}
        </div>

        <h3>Car information</h3>
        <div class="form-group">
          <label><b>Brand:</b></label>
          {{ reservation.car.brand.name }}
        </div>
        <div class="form-group">
          <label><b>Model:</b></label>
          {{ reservation.car.model }}
        </div>
        <h5>Options</h5>
        <ul *ngIf="reservation.car.carOptions.length > 0">
          <li *ngFor="let option of reservation.car.carOptions">
            {{ option.name }}
          </li>
        </ul>
        <div
          *ngIf="reservation.car.carOptions.length === 0"
          class="alert alert-info"
          role="alert"
        >
          Incomplete option list
        </div>

        <h3>Location information</h3>
        <div class="form-group">
          <label><b>Car location:</b></label>
          {{ reservation.location.name }}, {{ reservation.location.city.name }},
          {{ reservation.location.city.country.name }}
        </div>
      </form>
    </ng-container>
  </div>
</ng-template>
