<div class="container mt-5">
  <h1>Reservations</h1>
  <p class="lead">See all your reservations below.</p>

  <div *ngIf="error === 'Not Found'" class="alert alert-info" role="alert">
    You do not have any reservations yet.
  </div>

  <div *ngIf="reservations">
    <div *ngFor="let reservation of reservations; let i = index">
      <div class="container py-1">
        <div class="h-100 p-2 bg-light border" style="cursor: pointer;" id="card" (click)="onSelectReservation(i)">
          <div class="row" style="padding: 10px;">
            <div class="col">
              <p><b>{{ reservation.car.brand.name }} {{ reservation.car.model }}</b></p>
              <p><b>Pick-up location:</b> {{ reservation.location.name }}</p>
              <p><b>Departure:</b> {{ reservation.dateTimeStart | date : 'dd MMMM y'}} at {{ reservation.dateTimeStart | date : 'HH:mm' | replace: ':' : 'h'  }}</p>
              <p *ngIf="reservation.dateTimeStop">
                <b>Return:</b> {{ reservation.dateTimeStop | date : 'dd MMMM y'}} at {{ reservation.dateTimeStop | date : 'HH:mm' | replace: ':' : 'h'  }}
              </p>
            </div>
            <div class="col" style="display: flex; align-items: center; left: 250px">
              <img
                src="{{ '../../../' + reservation.car.image_url }}"
                alt="{{ reservation.car.brand.name + ' ' + reservation.car.model }}"
                width="225"
                height="112"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
