  <div style="text-align: center; padding-bottom: 30px">
    <h1 style="padding-top: 50px; padding-bottom: 70px">Need a car?</h1>
    <h3>OUR BENEFITS</h3>
    <h6 style="color: #a9e89e">Electric Car Rental Services</h6>
  </div>

  <div class="row">
    <div class="col-5">
      <div style="text-align: center; padding-bottom: 20px;">
        <img src="../../../assets/images/like.png" height="60px"/>
      </div>
      <h6 class="mb-3" style="text-align: center;">Our Customs Always 100% Satisfied</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit sed don eiusmod
        tempor enim minim veniam quis notrud exercitation
      </p>
    </div>

    <div class="col-md"></div>

    <div class="col-5">
      <div style="text-align: center; padding-bottom: 20px;">
        <img src="../../../assets/images/document.png" height="60px"/>
      </div>
      <h6 class="mb-3" style="text-align: center;">
        We Provide Easier & Faster Reservations
      </h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit sed don eiusmod
        tempor enim minim veniam quis notrud exercitation
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div style="text-align: center; padding-bottom: 20px;">
        <img src="../../../assets/images/location.png" height="60px"/>
      </div>
      <h6 class="mb-3" style="text-align: center;">
        Your Choice of Any Pickup Location
      </h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit sed don eiusmod
        tempor enim minim veniam quis notrud exercitation
      </p>
    </div>

    <div class="col-md"></div>

    <div class="col-md-5" style="text-align: center;">
      <div style="text-align: center; padding-bottom: 20px;">
        <img src="../../../assets/images/love.png" height="60px"/>
      </div>
      <h6 class="mb-3">
        Loved By Thousands of Customers
      </h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit sed don eiusmod
        tempor enim minim veniam quis notrud exercitation
      </p>
    </div>
  </div>
