<div class="container py-1">
  <div class="h-100 p-2 border" id="card">
    <div class="row">
      <div class="col-md-8">
        <div class="parent">
          <div>
            <h2>
              {{ reservation.car.brand.name }} {{ reservation.car.model }}
            </h2>
            <p>
              {{ reservation.dateTimeStart | date }} -
              {{ reservation.dateTimeStop | date }}
            </p>
            <div>
              <p>
                <b>Options: </b>
                <span *ngIf="reservation.reservationOptions.length > 0">
                  <span *ngFor="let option of reservation.reservationOptions"
                    >• {{ option.name }}
                  </span>
                </span>
                <span *ngIf="reservation.reservationOptions.length === 0">
                  <span>N/A</span>
                </span>
              </p>
            </div>
            <p>
              <b>Price:</b>
              <span>
                {{
                  currency === "EUR"
                    ? (reservation.total_price_euro_excl_vat
                      | currency: "EUR":"symbol":"1.0-2")
                    : (getUsdPrice(reservation.total_price_euro_excl_vat)
                      | currency: "USD":"symbol":"1.0-2")
                }}
                Excl. VAT
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <img
            src="{{ '../../../../../../assets/images/close.png"
            width="10%"
            style="text-align: right; cursor: pointer"
            (click)="removeReservation(reservation)"
          />
        </div>
        <div class="row">
          <br />
          <img
            src="{{ '../../../../../../' + reservation.car.image_url }}"
            width="100%"
          />
        </div>
      </div>
    </div>
  </div>
</div>
