<div *ngIf="!(auth.user$ | async); else loaded" class="container">
  <app-loading></app-loading>
</div>

<ng-template #loaded>
  <div *ngIf="auth.user$ | async as user" class="container mt-5">
    <div
      class="row align-items-center profile-header mb-5 text-center text-md-left"
    >
      <div class="col">
        <img
          [src]="user.picture"
          class="rounded-circle img-fluid profile-picture mb-3 mb-md-0"
          style="width: 180px"
        />
      </div>
      <div class="col-md">
        <h2>{{ user.nickname }}</h2>
        <p class="lead text-muted">{{ user.email }}</p>
      </div>
    </div>

    <div *ngIf="client" class="row">
      <form (ngSubmit)="onSave()" [formGroup]="clientForm">
        <div class="form-group">
          <label for="firstName" style="font-weight: bold">First Name: </label>
          <input
            class="form-control"
            formControlName="firstName"
            id="firstName"
            type="text"
          />
          <!-- {{ client.firstName }} -->
        </div>
        <div class="form-group">
          <label for="lastName" style="font-weight: bold">Last Name: </label>
          <input
            class="form-control"
            formControlName="lastName"
            id="lastName"
            type="text"
          />
          <!-- {{ client.lastName }} -->
        </div>
        <div class="form-group">
          <label for="phoneNumber" style="font-weight: bold"
            >Phone Number:
          </label>
          <input
            class="form-control"
            formControlName="phoneNumber"
            id="phoneNumber"
            type="text"
          />
          <!-- {{ client.phoneNumber }} -->
        </div>
        <div class="form-group">
          <label style="font-weight: bold">Email verification: </label>
          {{ user.email_verified ? "Yes" : "No" }}
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
      </form>
    </div>
  </div>
</ng-template>
