<div class="nav-container">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand">
        <img
          alt=""
          class="d-inline-block align-text-top"
          height="24"
          src="../assets/images/logo.png"
          width="30"
        />
        &nbsp;Clean Rentals
      </a>
      <button
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="navbarNav"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-target="#navbarNav"
        data-toggle="collapse"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        [ngbCollapse]="isCollapsed"
        class="collapse navbar-collapse"
        id="navbarNav"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cars-overview">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="locations">Locations</a>
          </li>
        </ul>

        <!-- Currency dropdown -->
        <ul class="navbar-nav mr-left mr-3">
          <li class="nav-item dropdown" ngbDropdown>
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              id="currencyDropDown"
              ngbDropdownToggle
            >
              <fa-icon
                *ngIf="currency === 'EUR'"
                [icon]="faEuroSign"
                class="mr-1"
              ></fa-icon>
              <fa-icon
                *ngIf="currency === 'USD'"
                [icon]="faDollarSign"
                class="mr-1"
              ></fa-icon>
            </a>
            <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu>
              <div class="dropdown-header">Select currency</div>
              <button
                (click)="onChangeCurrency('EUR')"
                *ngIf="currency === 'USD'"
                class="btn btn-link dropdown-item"
                id="changeCurrencyBtn"
              >
                <fa-icon [icon]="faEuroSign" class="mr-1"></fa-icon>
                |
                <span style="font-size: small;">1 EUR = {{ rateEUR | number: "1.1-5" }} USD</span>
              </button>
              <button
                (click)="onChangeCurrency('USD')"
                *ngIf="currency === 'EUR'"
                class="btn btn-link dropdown-item"
                id="changeCurrencyBtn"
              >
                <fa-icon [icon]="faDollarSign" class="mr-1"></fa-icon>
                |
                <span style="font-size: small;">1 USD = {{ rateUSD | number: "1.1-5" }} EUR</span>
              </button>
            </div>
          </li>
        </ul>
        <!-- /Currency dropdown -->

        <!-- Shopping Cart -->
        <ul class="navbar-nav mr-left mr-3">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart"
            >
              <fa-icon [icon]="faShoppingCart"></fa-icon
              >
            </a>
          </li>
        </ul>
        <!-- /Shopping Cart -->

        <ul class="navbar-nav d-none d-md-block">
          <!-- Login button: show if NOT authenticated -->
          <li
            *ngIf="(auth.isAuthenticated$ | async) === false"
            class="nav-item"
          >
            <button
              (click)="loginWithRedirect()"
              class="btn btn-primary btn-margin"
              id="qsLoginBtn"
            >
              Log in
            </button>
          </li>
          <!-- / Login button -->

          <!-- Fullsize dropdown: show if authenticated -->
          <li
            *ngIf="auth.user$ | async as user"
            class="nav-item dropdown"
            ngbDropdown
          >
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              id="profileDropDown"
              ngbDropdownToggle
            >
              <!-- Profile image should be set to the profile picture from the id token -->
              <img
                [src]="user.picture"
                alt="Profile picture"
                class="nav-user-profile rounded-circle"
                style="width: 40px"
              />
            </a>
            <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu>
              <!-- Show the user's full name from the id token here -->
              <div class="dropdown-header">
                {{ user.name }}
              </div>
              <a class="dropdown-item dropdown-profile" routerLink="/profile">
                <fa-icon [icon]="faUser" class="mr-3"></fa-icon>
                Profile
              </a>
              <a
                class="dropdown-item dropdown-profile"
                routerLink="/manage-reservations"
              >
                <fa-icon [icon]="faCarAlt" class="mr-3"></fa-icon>
                Manage
                reservations
              </a>
              <a
                class="dropdown-item dropdown-profile"
                href="http://localhost:8080/swagger-ui/"
                target="_blank"
              >
                <fa-icon [icon]="faServer" class="mr-3"></fa-icon>
                API
                documentation
              </a>
              <button
                (click)="logout()"
                class="btn btn-link dropdown-item"
                id="qsLogoutBtn"
              >
                <fa-icon [icon]="faPowerOff" class="mr-3"></fa-icon>
                Log out
              </button>
            </div>
          </li>
          <!-- /Fullsize dropdown -->
        </ul>

        <!-- Responsive login button: show if NOT authenticated -->
        <ul
          *ngIf="(auth.isAuthenticated$ | async) === false"
          class="navbar-nav d-md-none"
        >
          <button
            (click)="loginWithRedirect()"
            class="btn btn-primary btn-block"
            id="qsLoginBtn"
          >
            Log in
          </button>
        </ul>
        <!-- /Responsive login button -->

        <!-- Responsive profile dropdown: show if authenticated -->
        <ul
          *ngIf="auth.user$ | async as user"
          class="navbar-nav d-md-none justify-content-between"
          style="min-height: 170px"
        >
          <li class="nav-item">
            <span class="user-info">
              <!-- Profile image should be set to the profile picture from the id token -->
              <img
                [src]="user.picture"
                alt="Profile picture"
                class="nav-user-profile d-inline-block rounded-circle mr-3"
                style="width: 75px"
              />
              <!-- Show the user's full name from the id token here -->
              <h6 class="d-inline-block">{{ user.name }}</h6>
            </span>
          </li>
          <li>
            <fa-icon [icon]="faUser" class="mr-3"></fa-icon>
            <a routerLink="/profile">Profile</a>
          </li>

          <li>
            <fa-icon [icon]="faCarAlt" class="mr-3"></fa-icon>
            <a routerLink="/manage-reservations">Manage reservaitions</a>
          </li>

          <li>
            <fa-icon [icon]="faServer" class="mr-3"></fa-icon>
            <a href="http://localhost:8080/swagger-ui/" target="_blank"
            >API doc</a
            >
          </li>

          <li>
            <fa-icon [icon]="faPowerOff" class="mr-3"></fa-icon>
            <button
              (click)="logout()"
              class="btn btn-link p-0"
              id="qsLogoutBtn"
            >
              Log out
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
